# Airflow Helm Chart Overrides
executor: CeleryExecutor
postgresql:
  enabled: false
redis:
  enabled: false
webserverSecretKey: "your-super-secret-webserver-key-for-dev"
dags:
  persistence:
    enabled: true
    size: 1Gi
  gitSync:
    enabled: false
data:
  metadataConnection:
    user: postgres
    pass: postgres
    protocol: postgresql
    host: postgres-postgresql.data.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable
  resultBackendConnection:
    user: postgres
    pass: postgres
    protocol: postgresql
    host: postgres-postgresql.data.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable
  brokerUrl: "amqp://user:guest@rabbitmq.messaging.svc.cluster.local:5672/"
