apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: default
type: Opaque
data:
  DB_DSN: cG9zdGdyZXNxbCtwc3ljb3BnMjovL3Bvc3RncmVzOnBvc3RncmVzQHBvc3RncmVzLXBvc3RncmVzcWwuZGF0YS5zdmMuY2x1c3Rlci5sb2NhbDo1NDMyL3JlYWxlc3RhdGU=
