fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
loguru
prometheus-client>=0.19.0
prometheus-fastapi-instrumentator>=6.1.0
pydantic[email]
redis
celery
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
sse-starlette
aioredis
